
<div class="w3-container w3-padding-128 w3-light-grey w3-card-12 w3-margin">
    <h3 class="w3-center">ABOUT</h3>
    <p class="w3-center w3-large">My Black Belt Journey</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <a href="#versus">
                <img src="assets/flaticon/japan.png" class="karate-icon">
                <p class="w3-large">Shotokan vs. Chung Do Kwan</p>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="#journey">
                <img src="assets/flaticon/karate-2.png" class="karate-icon">
                <p class="w3-large">My Black Belt Journey</p>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="#future">
                <img src="assets/flaticon/south-korea.png" class="karate-icon">
                <p class="w3-large">My Martial Arts Future</p>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="#consideration">
                <img src="assets/flaticon/karate.png" class="karate-icon">
                <p class="w3-large">Why I Should Be Considered For Black Belt?</p>
            </a>
        </div>
    </div>
    <!--<div id="versus" class="w3-margin">-->
        <!--<p>versus</p>-->
        <!--<p>history, shotokan vs chung do kwan</p>-->
    <!--</div>-->
    <div id="journey" class="w3-margin">
        <p>When I was a kid, from the age of seven I played sports year-round: softball in the spring and summer, soccer in the fall, and basketball in the winter. The first sport to go was softball. I played for about three seasons, but my heart was never in it. Being left-handed, my only “natural” spot in the infield was taken by a girl much more talented than I. I spent all three years bored playing right field, and had no interest in continuing the sport. The next year I picked up indoor soccer, which had a season that overlapped rather inconveniently with basketball, but I didn’t care. I played basketball until my freshman year of high school, and while I was always a fairly accurate shot, I wasn’t actually all that great at playing basketball. I tried out for the junior varsity team, and when I was one of only two girls cut during tryouts I decided to call it quits for good. The next year I played on the varsity soccer team, while continuing to also play in my recreational outdoor soccer and indoor soccer leagues until I was 18.</p>
        <p>For most of those ten or eleven years, I stayed pretty busy. I lived and breathed sports, and never really ventured outside those circles. All of those people lived and breathed sports as well; no one had much time for other extracurricular activities. Until I met a girl in high school who transferred from Virginia Beach during my tenth grade year. She quickly became a close friend, and while she did not play in my recreational sports leagues, she was on the varsity soccer team with me. I soon learned that she went to a local Kenpo Karate school. I attended a “Bring a Friend” class with her one day, and was enthralled. I think I was 16 at the time, and I brought the price sheet home to beg my parents to enroll me. My parents were used to paying something like $45 per season for me to play recreational sports, so they were not open to the idea of paying more than that on a monthly basis. They suggested that I pay for it on my own, since at the time I had a job working at Wendy’s on the weekends. Unfortunately, since I already had other expenses, in the form of a sweet 1987 Honda Accord, karate was not in my budget.</p>
        <p>I was heartbroken, as only a teenage girl can be, and for the next 14 years or so martial arts was just not in the cards for me. Lack of money, lack of free time, being stationed on an aircraft carrier circling the south Pacific, there was always something to get in the way. It wasn’t until 2012 that everything started to come together. In May I graduated from college, but I did not yet have a job. In June Cole started his new job with an oil company. I had previously looked at kids’ martial arts programs, but most in the area where we were living at the time would not take kids until they were four. Shane turned four on June 19, and we started visiting schools.</p>
        <p>We first did a trial month for Shane at a place called Karate USA. We went a few times, but I was not really impressed with their program. We soon found our home at a school called Moohan Martial Arts that teaches olympic style tae kwon do. Cole and I joined the adult program, and Shane joined the Tiny Tigers program. We trained at Moohan for almost six months. When we began training, we thought it would take us years to be able to move out of Georgia. We got the chance much sooner than we expected, since with Cole’s job he was able to live anywhere so long as he was within a reasonable commute of a major airport. In December of 2012, we moved to Omaha from Dawsonville, Georgia. Prior to the move, I tested for and earned first my yellow and then my orange belt.</p>
        <p>After the move, we spent some time looking for another World TaeKwonDo Federation school in Omaha. I was a bit overwhelmed and did not yet know much about all of the different styles and governing bodies in martial arts, and specifically in tae kwon do. I wanted to stick with what was familiar. Unfortunately, it was somewhat difficult to find what I was looking for, and I put my martial arts journey on hold temporarily. We enrolled Shane in jiu jitsu at the Maple St. YMCA with Sensei Abdul, and I pursued another interest of mine: roller derby.</p>
        <p>I trained for about six months with Sparks & Wreckreation, the recreational roller derby league run by the Omaha Rollergirls. In the Summer of 2013, I was training to prepare for the New Recruit Camp, when I fell on my skates and broke my left ankle. Thankfully I did not need surgery; it did not take very long to get out of the cast, but it took quite a while for my ankle to fully heal. It was stiff and painful for quite some time. By the time I should have been fully healed, laziness and lethargy had set in. I joined the YMCA, but I had no workout partner and little motivation. I would do a half dozen spin classes over the span of a month, and then wouldn’t attend again for several months. I would do a few personal training sessions, but couldn’t keep up the motivation to do the weight routine on my own.</p>
        <p>This continued until December 2014, when we decided that Shane was old enough to move up from the casual, once-per-week YMCA jiu jitsu class to a fully dedicated youth martial arts program. As much as we enjoyed having Shane in Sensei Abdul’s jiu jitsu program, Cole and I had always intended to transition Shane back to tae kwon do, in addition to continuing our own training. We signed Shane up with Omaha Elite Tae Kwon Do, which as far as I know is the only school in Omaha that teaches World TaeKwonDo Federation Style tae kwon do. I was unimpressed with the teaching style of the single instructor/owner of that school, and right after New Year’s 2015 Cole, Shane, and I all signed up with Kim’s Tae Kwon Do School.</p>
        <p>I attended Kim’s Tae Kwon Do School from January 3, 2015 until the school closed on November 30, 2015. For the first several months, I was very apprehensive. I desperately wanted to learn and improve; however, I was highly intimidated by the other adult students. There were not many adult students at Kim’s, and most of them were already black belts. There was no reason for me to be so nervous; the students were never anything but kind and helpful. But I have struggled my entire adult life with anxiety and depression; such things are not always rational. As a result, I preferred to attend the 4:30pm adult classes, which often meant that Cole and I were the only students in the class. Mister Price was usually our instructor for those classes, but Master Kim was always present to give us tips on our stances, to pull us aside to practice roundhouse kicks until our form was acceptable, or to interject with one of his numerous stories. I have many fond memories about my time at Kim’s Tae Kwon Do School. I remember the patience with which Mister Price would answer my countless questions when learning a new form or one step. I remember all of the time Master Kim spent with me standing next to the bar, helping me perfect my kicks. On October 12, 2015 Shane tested privately for his purple belt with Master Kim. That, sadly, was the last test Master Kim ever conducted. I had an appointment to test for purple belt with him on October 14, but when I arrived that afternoon I was informed that Master Kim was taking a few days off. A few weeks later we learned about Master Kim’s stroke, and that the school would close permanently at the end of November.</p>
    </div>
    <!--<div id="future" class="w3-margin">-->
        <!--<p>future</p>-->
    <!--</div>-->
    <!--<div id="consideration" class="w3-margin">-->
        <!--<p>consideration</p>-->
    <!--</div>-->
</div>
