<div class="w3-container w3-padding-128 w3-light-grey w3-card-12 w3-margin">
    <h3 class="w3-center">Sources</h3>
    <p class="w3-center w3-large">Terminology Sources</p>
    <ol>
        <li><a href='http://www.imakarate.com/student-information/karate-dictionary/'>IMA Karate: Karate Dictionary</a></li>
        <li><a href='http://www.taekwondoanimals.com/taekwondo-words-terms'>Taekwondo - Words, Commands & Terminology</a></li>
        <li><a href='http://www.taekwondo-information.org/taekwondo-vocabulary.html'>TaekwondoInformation.org</a></li>
        <li><a href='https://www.itatkd.com/terminology.html'>Korean Terminology</a></li>
        <li><a href='http://www.hanstkd.com/terms.php'>Han's TKD: Korean Terminology</a></li>
    </ol>
    <p class="w3-center w3-large">History/Timeline Sources</p>
    <ol>
        <li><a href='http://www.reddeerkarate.com/history.php'>Shotokan Karate Club of Red Deer</a></li>
        <li><a href='http://www.imakarate.com/student-information/history-principles-of-shotokan-karate/'>IMA Karate: History & Principles of Shotokan Karate</a></li>
        <li><a href='http://www.blackbeltmag.com/daily/traditional-martial-arts-training/shotokan/gichin-funakoshi-creator-of-shotokan-karate/'>Black Belt Mag article by Richard Kim, July 29, 2013: <i>Gichin Funakoshi: Creator of Shotokan Karate</i></a></li>
        <li><a href='http://www.kidokwan.org/articles/the-evolution-of-taekwondo-from-japanese-karate/'>Kido Kwan: The Evolution of Taekwondo from Japanese Karate</a></li>
        <li><a href='http://www.kidokwan.org/taekwon-do-%ED%83%9C%EA%B6%8C%EB%8F%84-%E8%B7%86%E6%8B%B3%E9%81%93/chung-do-kwan-%EC%B2%AD%EB%8F%84%EA%B4%80-%E9%9D%91%E6%BF%A4%E9%A4%A8/grandmaster-duk-sung-sons-korean-karate-part-1/'>Kido Kwan: Grandmaster Duk Sung Son’s Korean Karate (Part 1)</a></li>
        <li><a href='http://www.omaha.com/columnists/kelly/kelly-grandmaster-kim-and-his-taekwondo-school-are-calling-it/article_fd716c4a-49c6-5b08-900a-a1c577eac78a.html'>Omaha World Herald article by Michael Kelly, Nov 28, 2015: <i>Grandmaster Kim and his taekwondo school are calling it quits</i></a></li>
        <li><a href='http://www.kimstkdomaha.net/grandmaster-kim.html'>Kim's Tae Kwon Do School: Grand Master Kim</a></li>

    </ol>
</div>
