<div class="w3-container w3-padding-128 w3-light-grey w3-card-12 w3-margin">
    <h3 class="w3-center">Sources</h3>
    <!--<p class="w3-center w3-large">Subheading</p>-->
    <ol>
        <li><a href='http://www.imakarate.com/student-information/karate-dictionary/'>IMA Karate: Karate Dictionary</a></li>
        <li><a href='http://www.taekwondoanimals.com/taekwondo-words-terms'>Taekwondo - Words, Commands & Terminology</a></li>
        <li><a href='http://www.taekwondo-information.org/taekwondo-vocabulary.html'>TaekwondoInformation.org</a></li>
        <li><a href='https://www.itatkd.com/terminology.html'>Korean Terminology</a></li>
        <li><a href='http://www.hanstkd.com/terms.php'>Han's TKD: Korean Terminology</a></li>
    </ol>
</div>
