<div class="w3-container w3-padding-128 w3-light-grey w3-card-12 w3-margin">
    <h3 class="w3-center">TERMINOLOGY</h3>
    <p class="w3-center w3-large">Subheading</p>
    <!--maybe add in a search function in the future-->
    <!--create this data in route-->
    <div class="w3-responsive">
        <table class="w3-table-all w3-margin-top">
            <tr class="w3-black">
                <th>English</th>
                <th>Japanese</th>
                <!--<img class="table-icon" src="/assets/flaticon/japan.png"></th>-->
                <th>Kanji</th>
                <th>Korean</th>
                <!--<img class="table-icon" src="/assets/flaticon/south-korea.png"></th>-->
                <th>Hangul</th>
            </tr>
            <!--blocks-->
            <tr class="w3-indigo">
                <td><i>Blocks</i></td>
                <td><i>uke</i></td>
                <td><i></i></td>
                <td><i>maki</i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td>rising block</td>
                <td>age uke</td>
                <td></td>
                <td>maki</td>
                <td></td>
            </tr>
            <!--strikes-->
            <tr class="w3-indigo">
                <td><i>Strikes</i></td>
                <td><i>uchi</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--punches-->
            <tr class="w3-indigo">
                <td><i>Punches</i></td>
                <td><i>tsuki/zuki</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--kicks-->
            <tr class="w3-indigo">
                <td><i>Kicks</i></td>
                <td><i>geri</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--stances-->
            <tr class="w3-indigo">
                <td><i>Stances</i></td>
                <td><i>tachi/dachi</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--forms-->
            <tr class="w3-indigo">
                <td><i>Forms</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--numbers-->
            <tr class="w3-indigo">
                <td><i>Numbers</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td>One</td>
                <td>ichi</td>
                <td></td>
                <td>hana</td>
                <td></td>
            </tr>
            <tr>
                <td>Two</td>
                <td>ni</td>
                <td></td>
                <td>dul</td>
                <td></td>
            </tr>
            <tr>
                <td>Three</td>
                <td>san</td>
                <td></td>
                <td>set</td>
                <td></td>
            </tr>
            <tr>
                <td>Four</td>
                <td>shi</td>
                <td></td>
                <td>net</td>
                <td></td>
            </tr>
            <tr>
                <td>Five</td>
                <td>go</td>
                <td></td>
                <td>daseot</td>
                <td></td>
            </tr>
            <tr>
                <td>Six</td>
                <td>roku</td>
                <td></td>
                <td>yaseot</td>
                <td></td>
            </tr>
            <tr>
                <td>Seven</td>
                <td>shichi</td>
                <td></td>
                <td>ilgop</td>
                <td></td>
            </tr>
            <tr>
                <td>Eight</td>
                <td>hachi</td>
                <td></td>
                <td>yaodel</td>
                <td></td>
            </tr>
            <tr>
                <td>Nine</td>
                <td>ku</td>
                <td></td>
                <td>ahop</td>
                <td></td>
            </tr>
            <tr>
                <td>Ten</td>
                <td>ju</td>
                <td></td>
                <td>yul</td>
                <td></td>
            </tr>
            <!--misc-->
            <tr class="w3-indigo">
                <td><i>Miscellaneous</i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>
            </tr>
            <tr>
                <td>The place where one trains</td>
                <td>Dojo</td>
                <td></td>
                <td>Dojang</td>
                <td></td>
            </tr>
            <tr>
                <td>Uniform</td>
                <td>Gi</td>
                <td></td>
                <td>Dobok</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

